$fontfamily:'Popins',sans-serif;

.main{
    width: 100%;
    height:80px;
    // background-color: aqua;
    display: flex;
}
.logo{
    width: 200px;
    height: 80px;
    // background-color: teal;
    display: flex;
    align-items: center;
    margin-left: 150px;
}
.logo img{
    width: 200px;
}
.menu {
    margin-left: 350px;
    display: flex;
    align-items: center;
    gap: 25px;
    font-family: $fontfamily;
}

.start{
    width:100%;
    height: 500px;
    background-color: hsl(200, 29%, 94%);
   display: flex;
}
.solutions{
    width: 500px;
    height: 350px;
    // background-color: blueviolet;
     margin-top: 45px;
     margin-left: 25px;
}
.header{
    color:white;
    border-radius: 8px;
    margin-left: 15px;
    width: 150px;
    background-color: rgba(33, 123, 244, 1);
    padding: 10px 10px;
}
.solutions h1{
    font-family: $fontfamily;
    margin-left: 25px;
    font-weight: bolder;
}
.solutions p{
    margin-left: 15px;
    font-family: $fontfamily;

}
.buttons{
    margin-left: 100px;
}
.b1{
    border-radius: 10px;
    border:none;
    background-color: rgba(33, 123, 244, 1);
    color: white;
    height:40px;
    width: 90px;
}
.b2{
    @extend .b1;
    background-color: white;
    color: rgba(33, 123, 244, 1);
}
.connect{
    margin-top: 60px;
    width: 480px;
    height: 350px;
    // background-color: brown;
    margin-left: 150px;
    background-image:url('./Iamge.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}