$fontfamily:'Popins',sans-serif;

.main{
    width: 100%;
    height:80px;
    // background-color: aqua;
    display: flex;
}
.logo{
    width: 200px;
    height: 80px;
    // background-color: teal;
    display: flex;
    align-items: center;
    margin-left: 150px;
}
.logo img{
    width: 200px;
}
.menu {
    margin-left: 350px;
    display: flex;
    align-items: center;
    gap: 25px;
    font-family: $fontfamily;
}

.start{
    width:100%;
    height: 500px;
    background-color: hsl(200, 29%, 94%);
   display: flex;
}
.solutions{
    width: 500px;
    height: 350px;
    // background-color: blueviolet;
     margin-top: 45px;
     margin-left: 25px;
}
.header{
    color:white;
    border-radius: 8px;
    margin-left: 15px;
    width: 150px;
    background-color: rgba(33, 123, 244, 1);
    padding: 10px 10px;
}
.solutions h1{
    font-family: $fontfamily;
    margin-left: 25px;
    font-weight: bolder;
}
.solutions p{
    margin-left: 15px;
    font-family: $fontfamily;

}
.buttons{
    margin-left: 100px;
}
.b1{
    border-radius: 10px;
    border:none;
    background-color: rgba(33, 123, 244, 1);
    color: white;
    height:40px;
    width: 90px;
}
.b2{
    @extend .b1;
    background-color: white;
    color: rgba(33, 123, 244, 1);
}
.connect{
    margin-top: 60px;
    width: 480px;
    height: 350px;
    // background-color: brown;
    margin-left: 150px;
    background-image:url('./Iamge.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.join{
    width: 100%;
    height: 500px;
    // background-color: aqua;
 display: flex;
}
.info{
    margin-top: 15px;
    margin-left: 15px;
    width:400px;
    height: 300px;
    // background-color: yellow;

}
.info p{
    margin-left: 15px;
    color: blue;
    font-family: $fontfamily;
}
.info h1{
    font-family: $fontfamily;
    margin-left: 15px;
}
.info li{
    margin-left: 50px;
    color: blue;
    font-family:$fontfamily;
}
.images{
    display: grid;
    margin-top: 25px;
    margin-left: 200px;
    width: 450px;
    height:360px;
    // background-color: chartreuse;
   background-image: url('./image.png');
   background-repeat: no-repeat;
   
   background-size: contain;
   background-position: center center;
 background-size: cover;
}
.rating-awards{
    display: flex;
    width: 100%;
    height: 300px;
    // background-color: lightgrey;
}
.rating-card{
    box-shadow: 0px 0px 5px 2px;
    width: 300px;
    height:250px;
    // background-color: blueviolet;
margin-top: 15px;
margin-left: 15px;

}
.hed{
    width: 100%;
    height: 30px;
    // background-color: lime;
    display: flex;
    align-items: center;
    // justify-content: space-evenly;
}
.hed img{
    margin-left: 100px;
}
.members{
    width: 100%;
    // background-color: red;
    height: 40px;
display: flex;
align-items: center;
gap: 5px;
}
.information1{
    margin-left: 15px;
    font-family: $fontfamily;
}
.achievements{
    margin-top: 15px;
    width: 350px;
    height: 280px;
    // background-color: burlywood;
    margin-left: 50px;
}
.achievements h1{
    font-family: $fontfamily;
    text-align: center;
}
.achievements p{
    margin-left: 15px;
    font-family: $fontfamily;
}
.achievements button{
    background-color: blue;
    color: white;
    width: 120px;
    margin-left: 120px;
    border:none;
    height: 35px;
    border-radius: 12px;
}
.community{
    width: 100%;
    height: 800px;
    // background-color: brown;
    display: flex;

}
.des{
    margin-top: 15px;
    width: 420px;
    //  background-color: blueviolet;
     height: 300px;
     margin-left: 400px;
}
.des h2{
    
    font-family: 'Stapel',sans-serif;
}
.des h6{
    color: blue;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}
.des p{
    margin-left: 15px;
    font-size: 20px;
}
.cards{
    margin-left: -600px;
    margin-top: 220px;
     display: flex;   
    width: 850px;
    height: 580px;
    // background-color: aqua;
    flex-wrap: wrap;
 
}
.c1{
    width: 390px;
    height:150px;
    // background-color: lime;
    margin-left: 15px;
    margin-top: 15px;
    display: flex;
    box-shadow: 0px 0px 10px 2px;
    border-radius: 12px;
}
.iconic{
    width: 100px;
    height: 100px;
    // background-color: yellow;
}
.para{
    font-weight: bold;
    font-family: $fontfamily;
    margin-left: -115px;
    margin-top: 60px;
}
.team{
    // align-content: center;
    // display: flex;
    width: 100%;
    height: 500px;
    // background-color: blue;
}
.describe{
    margin-top: 15px;
    margin-left: 325px;
    width: 500px;
    height: 150px;
    // background-color: aqua;
}
.describe h5{
    font-family: $fontfamily;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}
.describe h2{
    margin-top: -30px;
    text-align: center;
}
.describe p{
    margin-left: 15px;
    font-size: 20px;
}
.motions{
    display: flex;
    margin-left: 270px;
 margin-top: 20px;
    width: 550px;
    height: 100px;
    background-color: lightgrey;
    justify-content: space-around;
    align-items: center;
    font-family: $fontfamily;
    font-weight: bold;
}
.active{
    background-color: rgba(33, 123, 244, 1);
    padding: 20px 20px;
    border-radius: 10px;
}
.followers{
    margin-left: 50px;
    width: 90%;
    height: 180px;
    margin-top: 20px;
    // background-color: yellow;
    display: flex;
}
.bloger1{
    margin-left: 15px;
    margin-top: 7px;
    width: 250px;
    height: 180px;
    // background-color: aqua;
    box-shadow: 0px 0px 10px 2px ;
    // display: flex;
    // justify-content: center;
padding-right: 10px;
}
.bloger1 h1{
    margin-top: -12px;
    margin-left: 25px;
}
.joker{
    padding-right: 10px;
    margin-bottom: 15px;
    width: 100px;
    margin-left: -100px;
}
.circle{

    height: 110px;
}
.install-app{
    width: 100%;
    height:500px;
    background-color: rgba(229, 240, 253, 1);
     display: flex;
}
.find{
    width: 500px;
    height: 450px;
    // background-color: red;
    margin-top: 15px;
    margin-left: 15px;
}
.find h4{
    margin-left: 15px;
    font-family: $fontfamily;
    color:blue;
}
.find h1{
    text-align: center;
    font-size: 45px;
    font-family: $fontfamily;
}
.find p{
    margin-left: 15px;
    font-size: 28px;
    font-family: $fontfamily;
}
.stores{
    width: 500px;
    display: flex;
}
.google-play{
    margin-top: 20px;
    height: 55px;
}
.log-sec{
    margin-top: -420px;
    width:400px;
    height: 450px;
    // background-color: aqua   x;
    margin-left: 700px;
}
.phone{
    margin-left: -90px;
}
.abstract{
    margin-left: 45px;
    margin-top: -295px;
}
.news{
    width: 100%;
    height: 500px;
    // background-color: lightgray;
    // display: flex;
}
.application{
    margin-top: 15px;
    width: 200px;
    height: 100px;
    // background-color: aqua;
    margin-left: 490px;
}
.application h4{
    text-align: center;
    font-size: 20px;
}
.application h1{
    font-family: $fontfamily;
    margin-top: -10px;
    text-align: center;
}
.kartinki{
    display: flex;
    margin-top: 15px;
    width: 100%;
    height: 400px;
    // background-color: red;
    justify-content: space-around;
}
.k1{
    border-radius: 8px;
    margin-top: 15px;
    margin-left: 15px;
    width: 300px;
    height: 300px;
    // background-color: white;
    box-shadow: 0px 0px 10px 2px;
}
.k1 p{
    font-family: 'Popins',sans-serif;
    margin-left: 15px;
}
.footer{
    width: 100%;
    height: 500px;
    background-color: rgba(43, 43, 57, 1);
    display: flex;
    
}
.foot-menu{

    margin-top: 85px;
    margin-left: 45px;
    width: 200px;
    height: 200px;
    // background-color: aqua;
}
.foot-menu p{
    margin-left: 45px;
    font-family: $fontfamily;
    color: rgba(231, 231, 231, 1);
}
.subscribe{
    margin-top: 35px;
    width: 350px;
    height: 300px;
    // background-color: aqua;
}
.subscribe h3{
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
}
.subscribe p{
    margin-left: 15px;
    font-family: $fontfamily;
    color:rgba(255, 255, 255, 1) ;
}
#email{
    border:3px solid lightgrey;
    background-color: darkblue;
height: 30px;
margin-left: 15px;
}
.subs{
    background-color: white;
    color: black;
    height: 35px;
}
.agency{
    align-items: center;
    display: flex;
    margin-top: -100px;
    width: 100%;
    height: 100px;
    background-color: rgba(32, 32, 45, 1);
}
.agency p{
    margin-left: 45px;
    color: white;
}
.aligator{
    margin-left: 400px;
}
.social{
    margin-left: 300px;
    // background-color: lime;
    display: flex;
}